@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..800&family=Inter:wght@300..700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
}

html.dark {
  background-color: #111827;
  color: #f9fafb;
}

button {
  transition: ease;
}
